:root{
    --fonte-cabecalho: #ffffff;
    --fundo-cards: #faead6;
    --bordas: #363232;
    --bg:#B488E6;
    --fonte-principal: #3f275b;
}

* {
    padding: 0;
    margin: 0;
}
body{
    background-image: url('img/bg_page-0001.jpg');
}

.cabecalho {
    font-family: "Londrina Solid", sans-serif;
    font-size: 4em;
    color: var(--fonte-cabecalho);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iniciar.container{
    height: 80vh;
    width: 40vw;
    margin-bottom: 10px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--bordas);
    border-radius: 16px;
    background-color: var(--fundo-cards);
}

#inputNomeTexto {
    color: var(--fonte-principal);
    text-align: center;    
}
@media (max-width: 768px) {
  #inputNomeTexto {
    padding: 40px;
  }
}

.form-label{
    font-size: 2em;
    font-family: "Andika", sans-serif;
    align-self: center;
    margin-bottom: auto;
}

.form-text{
    text-align: center;
}

#btn-comecar{
    color: var(--fundo-cards);
    font-size: 20px;
    background-color: var(--bg);
    border: 2px solid var(--bg);
    padding: 10px;
    border-radius: 40px;
    width: 200px;
}

#btn-comecar:hover{
    background-color: var(--fonte-principal);
    border: 2px solid  var(--fonte-principal);
}

/* #perguntas{
    background-color: aqua;
}

#opcoes{
    background-color: blue;
} */

.footer {
  text-align: center;
  padding: 20px;
  color: #f0edee;
}